*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}


body{
   background-image: url("../imgs/Menu.png"); 
   background-repeat: no-repeat;
   background-size: 100% 100%;
   min-height: 100vh;
   max-width:100%;
   font-size: 100%;
}

/*INDEX*/
.menu{
    margin:0;
    width:auto;
    height: auto; 
    display:flex;
    flex-wrap:wrap;
}


.nombre{
    text-align:center;
    padding:15px;
    width:100%;
    height:8%;
    background-color: rgba(0, 0, 0, 0.575);   
}

p{
    font-size: 2em;
    color:rgba(241, 178, 100, 0.856);
}

.games{
    display:flex;
    float:left;
    margin-top:10%;
    margin-left:15%;
    margin-right: 10%;
    margin-bottom:0;
    width:300px;
    height: 250px;   
}

.games:hover{
    display:flex;
    float:left;
    margin-top:10%;
    margin-left:15%;
    margin-right: 10%;
    margin-bottom:0;
    width:300px;
    height: 250px; 
    background-color: rgba(0, 0, 0, 0.575);
}

.ilustracion{
    display:flex;
    float:right;
    margin-top:7%;
    margin-left:5%;
    margin-right: 10%;
    margin-bottom:0;
    width:300px;
    height: 250px; 
}

.cv{
    display:flex;
    width: 100%;
    height: 100px;    
}

.comic{
    display:flex;
    float:left;
    margin-top:0%;
    margin-left:20%;
    margin-right:10%;
    width:300px;
    height: 200px; 
}

.pintura{
    display:flex;
    float:right;
    margin-left:10%;
    margin-right: 10%;
    width:300px;
    height: 200px; 
}

/*hover*/

/*enlace*/ 
text-decoration: none;


.ilustracion:hover{
    display:flex;
    float:right;
    margin-top:7%;
    margin-left:5%;
    margin-right: 10%;
    margin-bottom:0;
    width:300px;
    height: 250px; 
    background-color: rgba(0, 0, 0, 0.575);
}

.cv:hover{
    display:flex;
    width: 100%;
    height: 150px; 
    background-color: rgba(0, 0, 0, 0.575);
}

.comic:hover{
    display:flex;
    float:left;
    margin-top:5%;
    margin-left:20%;
    margin-right:10%;
    width:300px;
    height: 200px; 
    background-color: rgba(0, 0, 0, 0.575);
}

.pintura:hover{
    display:flex;
    float:right;
    margin-top:5%;
    margin-left:10%;
    margin-right: 10%;
    width:300px;
    height: 200px; 
    background-color: rgba(0, 0, 0, 0.575);
}

.enlace {
    position: absolute;
    width: 300px;
    height: 200px;
  }

  .enlaceCV {
    position: absolute;
    width: 100%;
    height: 200px;
  }

/*footer*/
footer{
    position:fixed;
    bottom:0;
    width: 100%;
  }

/*parrafo*/
 .footer{    
  background-color: rgba(136, 4, 4, 0.5);
  color:blanchedalmond;
  text-decoration: solid;
  text-align: center;
 }

  .instagram{
    filter: grayscale(100%);
    width:50px;
  }

  .linkedin{
    background-color: antiquewhite;
    border:solid white;
    border-radius: 30%;
    width:50px;
  }

/*APARTADOS*/


/*MEDIA QUERY*/

@media (max-width: 480px) {
    /*body {
        background-image: url(images/background-mobile.jpg);
    }*/

    img {
    width: 100%;
    }
